transformers[torch]>=4.30.2,<5
torch>=2.0
llama-index
torch
langchain>=0.0.218
accelerate>=0.16.0,<1
unstructured
openllm
chromadb
git+https://github.com/UKPLab/sentence-transformers.git
InstructorEmbedding
faiss-cpu
einops
bitsandbytes
xformers